{% extends 'PineipolBaaBundle:EmailTemplates:email-layout.html.twig' %}

{% block body %}
    <div style="font:14px Verdana;padding:40px">
        <div style="font:bold 18px Verdana">
            {% trans %}email.templates.comment.form.notification.part1{% endtrans %}<br><br><br>
        </div>
        <div>
            {% trans %}email.templates.comment.form.notification.part2{% endtrans %}<br><br>
            {{ name }}<br>
            {{ email }}<br>
            {{ message }}<br><br>
        </div>
        <div style="font-style:italic">
            {% trans %}email.templates.signature{% endtrans %}
        </div>
    </div>
{% endblock %}