/* Paths */
/* Color variables */
/* Sizing constants */
body {
  margin: 0;
  font: 14px Verdana;
}
div {
  box-sizing: border-box;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
#header_outer_container {
  background-color: #222222;
  box-shadow: 0px 2px 2px #000000;
  width: 100%;
}
#header_outer_container #header_inner_container {
  display: table;
  margin: auto;
  height: 80px;
  width: 800px;
}
@media (max-width: 800px) {
  #header_outer_container #header_inner_container {
    width: 100%;
  }
}
#header_outer_container #header_inner_container #header_mobile_menu_cell {
  display: table-cell;
}
@media (min-width: 800px) {
  #header_outer_container #header_inner_container #header_mobile_menu_cell {
    display: none;
  }
}
#header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button {
  margin-left: 5px;
  margin-top: 25px;
  width: 60px;
}
#header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button:hover {
  cursor: pointer;
}
#header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button:hover .line {
  border-bottom: 2px solid #b4e767;
  border-top: 2px solid #b4e767;
}
#header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button .line {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  width: 40px;
}
#header_outer_container #header_inner_container #header_logo_cell {
  display: table-cell;
  min-height: 80px;
  vertical-align: top;
  width: 257px;
}
#header_outer_container #header_inner_container #header_logo_cell #header_logo_img {
  height: 49px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  width: 237px;
}
#header_outer_container #header_inner_container #header_menu_cell {
  display: table-cell;
  min-height: 80px;
  vertical-align: bottom;
}
@media (max-width: 800px) {
  #header_outer_container #header_inner_container #header_menu_cell {
    display: none;
  }
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container {
  margin-bottom: 5px;
  text-align: right;
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container #header_menu_item {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container #header_menu_item #header_menu_item_label {
  color: #aaaaaa;
  font: 11px Verdana;
  text-transform: uppercase;
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container #header_menu_item #header_menu_item_label:hover {
  color: #ffffff;
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container #header_menu_item #header_menu_item_label:hover div {
  background-image: url('../images/menu/over_line.png');
}
#header_outer_container #header_inner_container #header_menu_cell #header_menu_container #header_menu_item #header_menu_item_label #header_menu_item_strip {
  height: 9px;
  margin: auto;
  width: 37px;
}
.mobile-menu #menu_item {
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.mobile-menu #menu_item #menu_item_label {
  color: #aaaaaa;
  font: 11px Verdana;
  text-transform: uppercase;
}
.mobile-menu #menu_item #menu_item_label:hover {
  color: #ffffff;
}
#post-list_outer_container {
  min-height: 910px;
  width: 100%;
}
@media (max-width: 800px) {
  #post-list_outer_container {
    min-height: 700px;
  }
}
@media (max-width: 800px) and (max-width: 600px) {
  #post-list_outer_container {
    min-height: 500px;
  }
}
#post-list_outer_container #inner_container {
  margin: auto;
  width: 800px;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container {
    width: 100%;
  }
}
#post-list_outer_container #inner_container #left-column_container {
  display: inline-block;
  padding-top: 60px;
  vertical-align: top;
  width: 75%;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container {
    display: block;
    padding-top: 20px;
    width: 100%;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container {
  display: table;
}
#post-list_outer_container #inner_container #left-column_container .post-container .left-column {
  display: table-cell;
  vertical-align: top;
  width: 65%;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .left-column {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .left-column .mobile-title {
  display: none;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .left-column .mobile-title {
    display: block;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .left-column .tags-container {
  margin-left: -15px;
  position: relative;
  top: -430px;
  width: 90px;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .left-column .tags-container {
    margin-left: 0px;
  }
}
@media (max-width: 800px) and (max-width: 480px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .left-column .tags-container {
    top: -88vw;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .left-column .tags-container .green-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 13.5px;
  font-weight: 700;
  height: 22px;
  padding-top: 2px;
  text-align: center;
  background-color: #00CC00;
}
#post-list_outer_container #inner_container #left-column_container .post-container .left-column .image-container {
  height: 450px;
  margin: auto;
  position: relative;
  width: 480px;
}
@media (max-width: 480px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .left-column .image-container {
    background-size: 100% 100%;
    width: 98vw;
    height: 92vw;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .right-column {
  display: table-cell;
  padding-left: 32px;
  vertical-align: top;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .right-column {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .right-column .title {
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .right-column .title {
    display: none;
  }
}
#post-list_outer_container #inner_container #left-column_container .post-container .right-column .description {
  margin-top: 20px;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #left-column_container .post-container .right-column .description {
    margin-top: 0px;
  }
}
#post-list_outer_container #inner_container #right-column_container {
  border: 1px dotted blue;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
@media (max-width: 800px) {
  #post-list_outer_container #inner_container #right-column_container {
    display: block;
    width: 100%;
  }
}
#footer_outer_container {
  background-color: #222222;
  width: 100%;
}
#footer_outer_container #footer_inner_container {
  background-color: yellow;
  border: 1px solid red;
  margin: auto;
  min-height: 80px;
  width: 800px;
}
@media (max-width: 800px) {
  #footer_outer_container #footer_inner_container {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */