/* Paths */
/* Color variables */
/* Sizing constants */
body {
  margin: 0;
  font: 14px Verdana;
}
div {
  box-sizing: border-box;
}
a:active {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
#middle_outer_container {
  min-height: 910px;
  width: 100%;
}
@media (max-width: 800px) {
  #middle_outer_container {
    min-height: 700px;
  }
}
@media (max-width: 800px) and (max-width: 600px) {
  #middle_outer_container {
    min-height: 500px;
  }
}
#middle_outer_container #inner_container {
  margin: auto;
  width: 1000px;
}
@media (max-width: 1000px) {
  #middle_outer_container #inner_container {
    width: 100%;
  }
}
#middle_outer_container #inner_container #left-column_container {
  display: inline-block;
  padding-top: 60px;
  vertical-align: top;
  width: 75%;
}
@media (max-width: 800px) {
  #middle_outer_container #inner_container #left-column_container {
    display: block;
    padding-top: 0px;
    width: 100%;
  }
}
#middle_outer_container #inner_container #right-column_container {
  display: inline-block;
  padding-top: 60px;
  vertical-align: top;
  width: 25%;
}
@media (max-width: 800px) {
  #middle_outer_container #inner_container #right-column_container {
    padding-top: 30px;
    display: block;
    width: 100%;
  }
}
#header_outer_wrapper {
  height: 50px;
  width: 100%;
}
#header_outer_wrapper #header_outer_container {
  background-color: #222222;
  box-shadow: 0px 2px 2px #000000;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#header_outer_wrapper #header_outer_container #header_inner_container {
  display: table;
  margin: auto;
  height: 50px;
  width: 1000px;
}
@media (max-width: 1000px) {
  #header_outer_wrapper #header_outer_container #header_inner_container {
    width: 100%;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell {
  display: table-cell;
}
@media (min-width: 800px) {
  #header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell {
    display: none;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button {
  margin-left: 8px;
  margin-top: 12px;
  width: 35px;
}
@media (max-width: 600px) {
  #header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button {
    margin-top: 16px;
    width: 25px;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button:hover {
  cursor: pointer;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button:hover .line {
  border-bottom: 2px solid #b4e767;
  border-top: 2px solid #b4e767;
}
@media (max-width: 600px) {
  #header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button:hover .line {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button .line {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 8px;
  width: 100%;
}
@media (max-width: 600px) {
  #header_outer_wrapper #header_outer_container #header_inner_container #header_mobile_menu_cell #mobile_menu_button .line {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    margin-top: 7px;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_logo_cell {
  display: table-cell;
  padding-right: 4px;
  vertical-align: top;
  width: 311px;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_logo_cell #header_logo_img {
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 17px;
  width: 100%;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell {
  display: table-cell;
  vertical-align: bottom;
}
@media (max-width: 800px) {
  #header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell {
    display: none;
  }
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container .header_menu_item {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container .header_menu_item:hover .header_menu_item_label {
  color: #ffffff;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container .header_menu_item:hover .header_menu_item_strip {
  background-image: url('../images/menu/over_line.png');
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container .header_menu_item .header_menu_item_label {
  color: #aaaaaa;
  font: 11px Verdana;
  margin: auto;
  text-transform: uppercase;
}
#header_outer_wrapper #header_outer_container #header_inner_container #header_menu_cell #header_menu_container .header_menu_item .header_menu_item_strip {
  height: 9px;
  margin: auto;
  width: 37px;
}
.mobile-menu #menu_item {
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.mobile-menu #menu_item #menu_item_label {
  color: #aaaaaa;
  font: 11px Verdana;
  text-transform: uppercase;
}
.mobile-menu #menu_item #menu_item_label:hover {
  color: #ffffff;
}
#footer_outer_container {
  background-color: #222222;
  width: 100%;
}
#footer_outer_container #footer_inner_container {
  margin: auto;
  min-height: 80px;
  width: 1000px;
}
@media (max-width: 800px) {
  #footer_outer_container #footer_inner_container {
    width: 100%;
  }
}
#footer_outer_container #footer_inner_container #footer_menu_container {
  margin: auto;
  padding-top: 25px;
  text-align: center;
}
#footer_outer_container #footer_inner_container #footer_menu_container .footer_menu_item {
  color: #aaaaaa;
  cursor: pointer;
  display: inline-block;
  font: 11px Verdana;
  margin-bottom: 5px;
  padding-left: 20px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  #footer_outer_container #footer_inner_container #footer_menu_container .footer_menu_item {
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
  }
}
.post-container {
  display: table;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .post-container {
    display: block;
    margin-bottom: 20px;
  }
}
.post-container .left-column {
  display: table-cell;
  vertical-align: top;
  width: 65%;
}
@media (max-width: 800px) {
  .post-container .left-column {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
.post-container .left-column h2 {
  display: none;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 30px;
  padding-left: 5px;
  text-align: left;
}
@media (max-width: 800px) {
  .post-container .left-column h2 {
    display: block;
  }
}
.post-container .left-column .mobile-published-on {
  color: #aaaaaa;
  display: none;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-left: 5px;
  text-align: left;
}
@media (max-width: 800px) {
  .post-container .left-column .mobile-published-on {
    display: block;
  }
}
.post-container .left-column .image-container {
  margin: auto;
  position: relative;
  width: 90%;
}
.post-container .left-column .image-container .post-image {
  height: auto;
  width: 100%;
}
.post-container .left-column .image-container .tags-container {
  left: -15px;
  position: absolute;
  top: 15px;
  width: 90px;
}
.post-container .left-column .image-container .tags-container .one-tag-container {
  position: relative;
  height: 35px;
}
.post-container .left-column .image-container .tags-container .one-tag-container .tag-triangle {
  border-bottom: 9px solid #666666;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  left: 3px;
  position: absolute;
  top: 21px;
  transform: rotate(45deg);
  width: 0;
}
.post-container .left-column .image-container .tags-container .one-tag-container .green-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 1px;
  text-align: center;
  background-color: #00cc00;
}
.post-container .left-column .image-container .tags-container .one-tag-container .pink-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 1px;
  text-align: center;
  background-color: #ff00ff;
}
.post-container .left-column .image-container .tags-container .one-tag-container .yellow-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 1px;
  text-align: center;
  background-color: #ffff00;
}
.post-container .right-column {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 800px) {
  .post-container .right-column {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }
}
.post-container .right-column h2 {
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .post-container .right-column h2 {
    display: none;
  }
}
.post-container .right-column .published-on {
  color: #aaaaaa;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 5px;
}
@media (max-width: 800px) {
  .post-container .right-column .published-on {
    display: none;
  }
}
.post-container .right-column .description {
  margin-top: 20px;
  text-align: justify;
}
@media (max-width: 800px) {
  .post-container .right-column .description {
    margin-top: 10px;
  }
}
#post-container h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 10px;
}
#post-container .published-on {
  color: #aaaaaa;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
#post-container .image-container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  max-width: 480px;
}
#post-container .image-container .post-image {
  height: auto;
  margin: auto;
  width: auto;
}
@media (max-width: 800px) {
  #post-container .image-container .post-image {
    width: 100%;
  }
}
#post-container .image-container .post-image-origin {
  color: #aaaaaa;
  font-size: 8px;
  text-align: left;
}
#post-container .image-container .tags-container {
  left: 6px;
  position: absolute;
  top: 15px;
  width: 90px;
}
#post-container .image-container .tags-container .one-tag-container {
  position: relative;
  height: 35px;
}
#post-container .image-container .tags-container .one-tag-container .tag-triangle {
  border-bottom: 9px solid #666666;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  left: 2px;
  position: absolute;
  top: 21px;
  transform: rotate(45deg);
  width: 0;
}
#post-container .image-container .tags-container .one-tag-container .green-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 3px;
  text-align: center;
  background-color: #00cc00;
}
#post-container .image-container .tags-container .one-tag-container .pink-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 3px;
  text-align: center;
  background-color: #ff00ff;
}
#post-container .image-container .tags-container .one-tag-container .yellow-tag {
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 22px;
  padding-top: 3px;
  text-align: center;
  background-color: #ffff00;
}
#post-container .content {
  font-size: 1em;
  line-height: 2em;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
#post-container .content h2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
}
#post-container .content .links-container {
  display: table;
  width: 100%;
}
#post-container .content .links-container .left-side-link-container {
  display: table-cell;
  text-align: left;
  width: 50%;
}
#post-container .content .links-container .right-side-link-container {
  display: table-cell;
  text-align: right;
  width: 50%;
}
#post-container .content .post-content-link:active {
  color: #00661a;
  text-decoration: underline;
}
#post-container .content .post-content-link:hover {
  color: #00661a;
  text-decoration: underline;
}
#post-container .content .post-content-link:link {
  color: #00661a;
  text-decoration: underline;
}
#post-container .content .post-content-link:visited {
  color: #00661a;
  text-decoration: underline;
}
.links-title-box {
  background-color: #222222;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 2px #000000;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  padding-left: 20px;
  padding-top: 7px;
  text-transform: uppercase;
  width: 90%;
  margin-left: 10%;
}
@media (max-width: 800px) {
  .links-title-box {
    display: block;
    margin: auto;
    min-width: 220px;
    width: 90%;
  }
}
#links-container {
  padding-left: 40px;
  padding-top: 20px;
}
#links-container .link {
  color: #000000;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  text-decoration: underline;
}
@media (max-width: 800px) {
  #links-container {
    padding-left: 25px;
    padding-right: 10px;
  }
}
#badges-container {
  padding-left: 25px;
}
#badges-container .badge {
  text-align: center;
}
#badges-container .badge .title {
  color: #365f91;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  #badges-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#page-container .title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
#page-container .content {
  font-size: 1em;
  line-height: 2em;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#page-container .title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
#page-container .content {
  font-size: 1em;
  line-height: 2em;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#page-container .about-prefix a:active {
  color: #00661a;
  text-decoration: underline;
}
#page-container .about-prefix a:hover {
  color: #00661a;
  text-decoration: underline;
}
#page-container .about-prefix a:link {
  color: #00661a;
  text-decoration: underline;
}
#page-container .about-prefix a:visited {
  color: #00661a;
  text-decoration: underline;
}
#page-container .about-prefix .h-container {
  text-align: center;
  vertical-align: top;
  width: 100%;
}
#page-container .about-prefix .h-container h2 {
  border-bottom: 2px solid #365f91;
  color: #365f91;
  font: bold 14px Verdana;
  margin-top: 15px;
  padding-left: 3px;
  padding-bottom: 6px;
  text-align: left;
  text-transform: uppercase;
}
#page-container .about-prefix .h-container .v-half-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 50%;
}
@media (max-width: 800px) {
  #page-container .about-prefix .h-container .v-half-container {
    display: block;
    width: 100%;
  }
}
#page-container .about-prefix .h-container .v-third-container {
  color: #365f91;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  text-align: left;
  width: 33%;
}
@media (max-width: 800px) {
  #page-container .about-prefix .h-container .v-third-container {
    display: block;
    width: 100%;
  }
}
#page-container .about-prefix .h-container .v-third-container .third-title {
  color: #222222;
  font: bold 13px Verdana;
  height: 45px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
#page-container .about-prefix .h-container .about-image {
  box-shadow: 0px 3px 10px #000000;
  height: auto;
  margin: 20px auto 20px auto;
  vertical-align: middle;
  width: 90%;
}
@media (max-width: 800px) {
  #page-container .about-prefix .h-container .about-image {
    width: 90%;
  }
}
#page-container .about-prefix .h-container .experience-brand {
  font-weight: bold;
  text-align: left;
}
#page-container .about-prefix .h-container .experience-title {
  font-style: italic;
  text-align: left;
  text-decoration: underline;
}
#page-container .about-prefix .h-container .experience-description {
  padding-bottom: 20px;
  text-align: justify;
}
#contact-form {
  padding: 5px;
  margin: auto;
  width: 60%;
}
@media (max-width: 800px) {
  #contact-form {
    width: 80%;
  }
}
@media (max-width: 600px) {
  #contact-form {
    width: 100%;
  }
}
#contact-form div {
  /*border: 1px dotted red;*/
}
#contact-form .v-pair {
  margin: 10px 0 0 0;
  width: 100%;
}
#contact-form .v-pair .vp-label {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  width: 30%;
}
@media (max-width: 600px) {
  #contact-form .v-pair .vp-label {
    width: 100%;
  }
}
#contact-form .v-pair .vp-field {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
@media (max-width: 600px) {
  #contact-form .v-pair .vp-field {
    width: 100%;
  }
}
#contact-form .v-pair .vp-field .input {
  width: 100%;
}
#contact-form .v-pair .vp-field .error {
  color: red;
}
#contact-form .h-pair {
  width: 100%;
}
#contact-form .h-pair .hp-label {
  font-weight: bold;
  margin: 10px 0 0 0;
  vertical-align: top;
  width: 100%;
}
#contact-form .h-pair .hp-field {
  margin: 5px 0 0 0;
  vertical-align: top;
  width: 100%;
}
#contact-form .h-pair .hp-field .input {
  width: 100%;
}
#contact-form .h-pair .hp-field .textarea {
  width: 100%;
}
#contact-form .h-single {
  margin: 10px 0 0 0;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
#contact-form-result {
  height: 100%;
  padding: 100px 0 0 0;
  vertical-align: middle;
  width: 100%;
}
#contact-form-result .title {
  font: bold 20px Verdana;
  text-align: center;
}
#contact-form-result .message {
  font: 14px Verdana;
  padding: 50px 0 0 0;
  text-align: left;
}
#comment-list {
  width: 100%;
}
#comment-list .links-title-box {
  margin-left: 10%;
  background-color: #222222;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 2px #000000;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  padding-left: 20px;
  padding-top: 7px;
  text-transform: uppercase;
  width: 90%;
  margin-left: 0%;
  width: 220px;
}
@media (max-width: 800px) {
  #comment-list .links-title-box {
    display: block;
    margin: auto;
    min-width: 220px;
    width: 90%;
  }
}
@media (max-width: 800px) {
  #comment-list .links-title-box {
    display: block;
    margin: auto;
    min-width: 220px;
    width: 90%;
  }
}
#comment-list #comments-container {
  padding-left: 40px;
}
@media (max-width: 800px) {
  #comment-list #comments-container {
    padding-left: 5px;
  }
}
@media (max-width: 600px) {
  #comment-list #comments-container {
    padding-left: 5px;
  }
}
#comment-list #comments-container .comment-container {
  margin-top: 40px;
}
#comment-list #comments-container .comment-container .user-label {
  font-size: 20px;
  font-weight: bold;
}
#comment-list #comments-container .comment-container .date-label {
  color: #aaaaaa;
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
}
#comment-list #comments-container .comment-container .comment-label {
  margin-right: 5px;
  margin-top: 10px;
  text-align: justify;
}
#comment-form {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}
#comment-form .links-title-box {
  margin-left: 10%;
  background-color: #222222;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 2px #000000;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  padding-left: 20px;
  padding-top: 7px;
  text-transform: uppercase;
  width: 90%;
  margin-bottom: 50px;
  margin-left: 0%;
  width: 220px;
}
@media (max-width: 800px) {
  #comment-form .links-title-box {
    display: block;
    margin: auto;
    min-width: 220px;
    width: 90%;
  }
}
@media (max-width: 800px) {
  #comment-form .links-title-box {
    display: block;
    margin: auto;
    min-width: 220px;
    width: 90%;
  }
}
#comment-form .field {
  margin-top: 20px;
  padding-left: 40px;
}
@media (max-width: 600px) {
  #comment-form .field {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#comment-form .field .input {
  margin-bottom: 5px;
  border: 1px solid #000000;
  height: 30px;
  width: 50%;
}
@media (max-width: 600px) {
  #comment-form .field .input {
    width: 100%;
  }
}
#comment-form .field .textarea {
  border: 1px solid #000000;
  margin-top: 20px;
  width: 100%;
}
#comment-form .field .error {
  color: red;
}
#comment-form .bottom-container {
  width: 100%;
}
#comment-form .bottom-container .field {
  margin-top: 20px;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .field {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#comment-form .bottom-container .field .input {
  margin-bottom: 5px;
  border: 1px solid #000000;
  height: 30px;
  width: 50%;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .field .input {
    width: 100%;
  }
}
#comment-form .bottom-container .field .textarea {
  border: 1px solid #000000;
  margin-top: 20px;
  width: 100%;
}
#comment-form .bottom-container .field .error {
  color: red;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .field {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#comment-form .bottom-container .field .input {
  margin-bottom: 5px;
  border: 1px solid #000000;
  height: 30px;
  width: 50%;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .field .input {
    width: 100%;
  }
}
#comment-form .bottom-container .field .textarea {
  border: 1px solid #000000;
  margin-top: 20px;
  width: 100%;
}
#comment-form .bottom-container .field .error {
  color: red;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .field {
    display: block;
    width: 100%;
  }
}
#comment-form .bottom-container .right-side-container {
  display: inline-block;
  margin-top: 30px;
  padding-left: 10px;
  vertical-align: top;
  width: 30%;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .right-side-container {
    display: block;
    width: 100%;
  }
}
#comment-form .bottom-container .right-side-container .captcha-container {
  text-align: center;
  width: 100%;
}
#comment-form .bottom-container .right-side-container .captcha-container img {
  margin-left: 18%;
  vertical-align: top;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .right-side-container .captcha-container img {
    display: block;
    margin: auto;
  }
}
#comment-form .bottom-container .right-side-container .captcha-container .input {
  border: 1px solid black;
  height: 30px;
  margin-left: 18%;
  margin-top: 5px;
  text-align: center;
  vertical-align: top;
  width: 130px;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .right-side-container .captcha-container .input {
    display: block;
    margin: auto;
  }
}
#comment-form .bottom-container .right-side-container .button-container {
  text-align: center;
  width: 100%;
}
#comment-form .bottom-container .right-side-container .button-container .button {
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  margin-left: 18%;
  margin-top: 5px;
  text-transform: uppercase;
  width: 130px;
}
@media (max-width: 600px) {
  #comment-form .bottom-container .right-side-container .button-container .button {
    margin: auto;
  }
}
#comment-form-result {
  height: 100%;
  font: 14px Verdana;
  padding: 100px 0 0 0;
  vertical-align: middle;
  width: 100%;
}
#comment-form-result .title {
  font: bold 20px Verdana;
  text-align: center;
}
#comment-form-result .message {
  padding: 50px 0 0 0;
  text-align: left;
}
#comment-form-result .link-container {
  padding: 50px 0 0 0;
  text-align: center;
}
#comment-form-result .link-container .link {
  color: #000000;
  /*display: block;*/
  /*margin-bottom: 8px;*/
  text-decoration: underline;
}
.green_text_box {
  display: table;
  margin: 15px 0 15px 0;
  background-color: #acfea0;
}
.green_text_box .generic_icon {
  background-position: center 20px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 46px;
  vertical-align: top;
  width: 75px;
}
.green_text_box .generic_text_container {
  display: table-cell;
  font: 1em Verdana;
  line-height: 2em;
  padding: 10px 20px 10px 0px;
  vertical-align: top;
}
.green_text_box .generic_icon {
  background-image: url('../images/icons/important.png');
}
.key_points_text_box {
  margin: 15px 0 15px 0;
  padding-right: 10px;
  background-color: #c6e1ff;
}
.key_points_text_box .title_box {
  display: table;
  width: 100%;
}
.key_points_text_box .title_box .generic_icon_container {
  background-position: center 10px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 56px;
  vertical-align: top;
  width: 75px;
}
.key_points_text_box .title_box .generic_title_container {
  border-bottom: 2px solid #000000;
  display: table-cell;
  font: bold 1.5em Verdana;
  padding: 13px 5px 0px 0px;
  text-align: right;
  vertical-align: top;
}
.key_points_text_box .content_container {
  padding: 0px 15px 10px 0;
}
.key_points_text_box .content_container .row_container {
  display: table;
}
.key_points_text_box .content_container .row_container .bullet {
  background-image: url('../images/icons/green-bullet.png');
  background-position: center center;
  background-repeat: no-repeat;
  display: table-cell;
  height: 30px;
  vertical-align: top;
  width: 74px;
}
.key_points_text_box .content_container .row_container .text {
  display: table-cell;
  font: 1em Verdana;
  padding: 5px 0 5px 0;
  vertical-align: top;
}
.key_points_text_box .title_box .generic_icon_container {
  background-image: url('../images/icons/key-point.png');
}
/*# sourceMappingURL=styles.css.map */