{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="contact-form-result">
        <div class="title">
            Formulario enviado correctamente
        </div>
        <div class="message">
            Me pondré en contacto contigo en cuanto vea tu mensaje.
        </div>
    </div>
{% endblock %}