{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="contact-form-result">
        <div class="title">
            Se ha producido un error al enviar el formulario
        </div>
        <div class="message">
            Algo extraño ha sucedido. Por favor, vuélvelo a intentar dentro de unos minutos.
        </div>
    </div>
{% endblock %}
