{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="contact-form-result">
        <div class="title">
            {% trans %}pages.contact.result.failure.subject{% endtrans %}
        </div>
        <div class="message">
            {% trans %}pages.contact.result.failure.content{% endtrans %}
        </div>
    </div>
{% endblock %}
