{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="contact-form-result">
        <div class="title">
            {% trans %}pages.contact.result.success.subject{% endtrans %}
        </div>
        <div class="message">
            {% trans %}pages.contact.result.success.content{% endtrans %}
        </div>
    </div>
{% endblock %}