<div id="footer_outer_container">
    <div id="footer_inner_container">
        <div id="footer_menu_container">
            {% for menu in menus %}
                <div class="footer_menu_item">
                    <a class="footer_menu_item" href="{{ path(menu.route) }}">{{ menu.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>