<div id="footer_outer_container">
    <div id="footer_inner_container">
        <div id="footer_menu_container">
            <a href="{{ path('pineipol_baa_homepage') }}">
                <div class="footer_menu_item">home</div>
            </a>
            {% for menu in menus %}
                <a href="{{ path(menu.route) }}">
                    <div class="footer_menu_item">{{ menu.title }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>