<div>
    <div>
        <a class="icon icon-data" href="{{ path('pineipol_baa_homepage') }}">
            <div id="menu_item">
                <div id="menu_item_label">home</div>
            </div>
        </a>
        {% for menu in menus %}
            <a class="icon icon-data" href="{{ path(menu.route) }}">
                <div id="menu_item">
                    <div id="menu_item_label">{{ menu.title }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>