<div id="header_outer_wrapper">
    <div id="header_outer_container">
        <div id="header_inner_container">
            <div id="header_mobile_menu_cell">
                <div id="mobile_menu_button" data-effect="mobile-menu-animation">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="header_logo_cell">
                <img id="header_logo_img" src="{{ asset('bundles/pineipolbaa/images/logo.png') }}" />
            </div>
            <div id="header_menu_cell">
                <div id="header_menu_container">
                    <div class="header_menu_item">
                        <div class="header_menu_item_label">sistemas<div class="header_menu_item_strip"></div></div>
                    </div
                    ><div class="header_menu_item">
                        <div class="header_menu_item_label">maquetación<div class="header_menu_item_strip"></div></div>
                    </div
                    ><div class="header_menu_item">
                        <div class="header_menu_item_label">agile coaching<div class="header_menu_item_strip"></div></div>
                    </div
                    ><div class="header_menu_item">
                        <div class="header_menu_item_label">scrum<div class="header_menu_item_strip"></div></div>
                    </div
                    ><div class="header_menu_item">
                        <div class="header_menu_item_label">continuous delivery<div class="header_menu_item_strip"></div></div>
                    </div
                    ><div class="header_menu_item">
                        <div class="header_menu_item_label">contact<div class="header_menu_item_strip"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
