<div>
    <div>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">sistemas</div>
            </div>
        </a>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">maquetación</div>
            </div>
        </a>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">agile coaching</div>
            </div>
        </a>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">scrum</div>
            </div>
        </a>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">continuous delivery</div>
            </div>
        </a>
        <a class="icon icon-data" href="#">
            <div id="menu_item">
                <div id="menu_item_label">contact</div>
            </div>
        </a>
    </div>
</div>