{% extends 'PineipolBaaBundle:Layout:default.html.twig' %}

{% block body %}
    <div id="page-container">
        <div class="title">Contacto</div>
        <div class="content">
            <p>Si deseas ponerte en contacto conmigo escribe a la dirección de correo electrónico que figura en la página.</p>
            <p>Y recuerda, esto no ha hecho más que empezar. En pocos días el blog irá creciendo, tanto en posts como en funcionalidad.</p>
        </div>
        <div class="link">
            <a href="mailto:alejandro.barba@becominganagilearchitect.com">alejandro.barba@becominganagilearchitect.com</a>
        </div>
    </div>
{% endblock %}