{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <div class="title">Agile, Lean, Scrum, Kanban… ¿cuál es la diferencia?</div>
        <div class="published-on">2 de mayo de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150502_lean_agile_scrum_kanban/lean_agile_scrum_kanban.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Architecture</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">

            {# Estructura base de un post, componentes #}
            <p><span style="font-size: 60px"></span></p>
            <ul>
                <li>
                    <p><span style="font-weight:bold"></span></p>
                </li>
                <li>
                    <p><span style="font-weight:bold"></span></p>
                </li>
            </ul>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container"></div>
            </div>
            <div class="key_points_text_box">
                <div class="title_box">
                    <div class="generic_icon_container"></div>
                    <div class="generic_title_container">Key Points</div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
            <p style="text-align: right"><a href="[[ROUTE:lean-agile-scrum-]]" class="post-content-link"> >></a></p>
            <br>

        </div>
    </div>
{% endblock %}