{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <h1>Scrum. El framework de los roles, eventos y artefactos</h1>
        <div class="published-on">18 de junio de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150713_scrum_planning/scrum_planning.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Scrum</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">

            <p><span style="font-size: 60px">A</span>l comenzar cada nuevo Sprint <span style="font-weight:bold">todo el equipo Scrum</span>, incluídos Product Owner y Scrum Master pero no el cliente, se reúne en lo que se conoce como Planificación de Sprint.
                Se trata de un evento <span style="font-weight:bold"> time-boxed</span> cuya duración máxima no debe exceder las ocho horas para un Sprint de cuatro semanas y proporcionalmente menor si el Sprint es menor. El Scrum Master garantiza que el evento
                tenga lugar y que su duración no supere el tiempo máximo planificado.</p>
            <p>En esta reunión se toman dos decisiones fundamentales:</p>
            <br>
            <h2>¿Qué puede ser hecho en este Sprint?</h2>
            <p>El Product Owner es el encargado de seleccionar qué <span style="font-weight:bold">elementos del Product Backlog</span> serán completados durante el Sprint. </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">Antes de empezar a seleccionar elementos se debe fijar cuál será el <span style="font-weight: bold;">objetivo del Sprint</span>, en consecuencia se seleccionarán aquellos elementos del Product Backlog
                    <span style="font-weight: bold;">coherentes</span> con dicho objetivo.
                </div>
            </div>
            <p>El <span style="font-weight: bold;">Product Owner</span> decide y <span style="font-weight: bold;">prioriza</span> que items le gustaría ver completados al final del Sprint pero no decide cuáles son los que finalmente se desarrollarán,
                esta decisión concierne única y exclusivamente al equipo de desarrollo y es lo que se denomina <span style="font-weight: bold;">compromiso de Sprint</span>. Por ejemplo, el Product Owner puede preseleccionar diez elementos del Product Backlog y
                el <span style="font-weight: bold;">equipo de desarrollo decidir</span> que se puede comprometer con los ocho primeros pero el noveno es demasiado complejo como para poder ser incluído, no obstante el décimo es menor y sí podría ser incluído,
                en consecuencia, el equipo se compromete a completar los ocho primeros y el décimo.
            </p>
            <p>Si el product Owner no estuviera de acuerdo podría hacer uso del triángulo <span style="font-weight: bold;">calidad-velocidad-alcance</span>, es decir, podría reducir el alcance de la novena tarea descomponiéndola en dos o más tareas menores de
                forma que si se pudiera incluir la parte más importante para el cliente.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">El <span style="font-weight: bold;">equipo de desarrollo</span> hace uso de su <span style="font-weight: bold;">velocidad estimada</span> de desarrollo para determinar la cantidad de trabajo que se puede
                    <span style="font-weight: bold;">comprometer</span> a entregar. Dicha estimación procede de la velocidad real alcanzada en Sprints anteriores, es decir, se calcula en base a <span style="font-weight: bold;">resultados empíricos</span>.</div>
            </div>
            <p>El <span style="font-weight: bold;">conjunto de elementos</span> del Product Backlog seleccionados para el Sprint recibe el nombre de <span style="font-weight: bold;"> Sprint Backlog</span> sobre el cual también hablaremos
                en detalle posteriormente.
            </p>
            <p>Es importante señalar que, además de las siguientes tareas del proyecto en el Product Backlog, se tendrán en cuenta de forma particular las <span style="font-weight: bold;">tareas no completadas</span> en el <span style="font-weight: bold;">Sprint
                    anterior</span>, si bien es cierto que dichas tareas volverán al Backlog antes de empezar la reunión de planificación, tras la reunión de Revisión de Sprint, como veremos en su correspondiente apartado.
            </p>
            <p>El <span style="font-weight: bold;">Product Owner</span> deberá <span style="font-weight: bold;">explicar</span> al equipo de desarrollo cada uno de los <span style="font-weight: bold;">elementos</span> seleccionados y resolver todas las
                <span style="font-weight: bold;">dudas</span> que éste pudiera tener.
            </p>
            <br>
            <h2>¿Cómo se va a completar el trabajo seleccionado?</h2>
            <p>El <span style="font-weight: bold;">Equipo de Desarrollo</span> analiza los elementos del Product Backlog seleccionados y <span style="font-weight: bold;">elabora un plan</span> para llevarlos a cabo.</p>
            <p>Dicho plan suele incluir <span style="font-weight: bold;">dividir</span> los ítems del Product Backlog, los cuales suelen ser expresados como <span style="font-weight: bold;">Historias de Usuario</span> (User Stories), en <span style="font-weight: bold;">tareas técnicas</span>,
                es decir, tareas de menor envergadura y mayor entidad a nivel técnico las cuales pueden ser llevadas a cabo por un único desarrollador. Además, se suelen organizar las tareas técnicas de forma que se eliminen <span style="font-weight: bold;">dependencias</span> o se puedan
                llevar a cabo primero las tareas con mayor cantidad de <span style="font-weight: bold;">incertidumbre</span>. Por ejemplo, si una de las historias de usuario requiere que se muestre un mensaje por pantalla cuando suceda una determinada acción y otra historia requiere que el
                usuario pueda tomar una decisión de verdadero o falso cuando suceda otra acción, el Equipo puede convenir en extraer una tarea técnica de ambas historias que consista en desarrollar un servicio proveedor de pop-ups, el cual deberá ser desarrollado antes de las dos tareas que
                lo utilizarán.
            </p>
            <p>Otro caso podría ser que una de las historias suponga generar una aplicación nativa para un determinado sistema operativo mobile, tarea que no se ha llevado nunca a cabo con anterioridad por el equipo. Esta tarea concentra un alto grado de incertidumbre, la cual debe ser resuelta
                lo antes posible pues supone un elevado riesgo no controlado, por tanto el equipo de desarrollo extraerá una tarea técnica que consista en prototipar el desarrollo de un hola mundo como aplicación nativa.
            </p>
            <p>Se debe tener cierto cuidado a la hora de <span style="font-weight: bold;">reorganizar prioridades</span>, pues podría darse el caso de que no se llegaran a completar todas las historias de usuario del Sprint y que las historias incompletas tuvieran mayor prioridad o importancia
                para el Product Owner que otras historias sí finalizadas, lo cual podría chocar con sus expectativas y las del cliente.
            </p>
            <p>A lo largo del Sprint el equipo de desarrollo podría seguir descomponiendo las tareas en subtareas o <span style="font-weight: bold;">modificando</span> su <span style="font-weight: bold;">plan</span> de desarrollo a medida que fuera <span style="font-weight: bold;">aprendiendo más</span>
                sobre el trabajo a llevar a cabo.
            </p>
            <p>Tanto durante la reunión de planificación como a lo largo del Sprint el Equipo de Desarrollo puede solicitar al <span style="font-weight: bold;">Product Owner</span> que <span style="font-weight: bold;">clarifique</span> algún detalle sobre las tareas. Si, al hacerlo, ambos se encontraran
                con que el trabajo es demasiado o demasiado poco para el Sprint podrían renegociar el alcance de forma que se garantizase la predictibilidad del Sprint.
            </p>
            <p>Las Reuniones de Planificación suelen ser muy largas, hasta ocho horas de conversaciones técnicas. En muchas ocasiones he encontrado gran <span style="font-weight: bold;">dificultad</span> para mantener al <span style="font-weight: bold;">Product Owner</span> durante toda la duración de
                la <span style="font-weight: bold;">reunión</span> en la sala debido a lo inhumano del sacrificio para un perfil no técnico. Lo que suelo hacer es <span style="font-weight: bold;">dividir la reunión de planificación</span> en dos partes, la primera de aproximadamente un tercio del total es
                una <span style="font-weight: bold;">explicación</span> de las historias que se desea desarrollar. En ella el Product Owner explica cada historia de usuario y el Equipo de Desarrollo aclara sus dudas. En la segunda parte el Equipo de Desarrollo inicia el <span style="font-weight: bold;">debate técnico</span>,
                con las historias claras y frescas, y empieza la descomposición en tareas y la extracción de componentes y tareas de refactorización. Si se adopta esta medida es importante poder contar puntualmente con el Product Owner a mano para resolución de las dudas que puedan surgir.
            </p>
            <div class="key_points_text_box">
                <div class="title_box">
                    <div class="generic_icon_container"></div>
                    <div class="generic_title_container">Key Points</div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">La reunión de <span style="font-weight: bold;">planificación</span> de Sprint es un evento <span style="font-weight: bold;">time-boxed</span> de hasta ocho horas de duración.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">Durante la planificación se decide <span style="font-weight: bold;">qué puede ser hecho</span> en el Sprint y <span style="font-weight: bold;">cómo se debe hacer</span>.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">Se establece un <span style="font-weight: bold;">objetivo de Sprint</span> que dé coherencia a las tareas seleccionadas.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">El <span style="font-weight: bold;">Product Owner prioriza</span> las tareas pero el <span style="font-weight: bold;">equipo de desarrollo decide</span> cuales se van a hacer.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">El <span style="font-weight: bold;">Equipo estima</span> cuántas tareas se completarán en base a su <span style="font-weight: bold;">velocidad estimada de desarrollo</span>.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">El <span style="font-weight: bold;">Sprint Backlog</span> está formado por el conjunto de <span style="font-weight: bold;">elementos seleccionados</span> para completar durante el Sprint.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">El <span style="font-weight: bold;">Product Owner explica</span> cada tarea que debe ser llevada a cabo.</div>
                    </div>
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">El <span style="font-weight: bold;">Equipo de desarrollo</span> elabora un <span style="font-weight: bold;">plan</span> para llevar a cabo el incremento de Sprint.
                        </div>
                    </div>
                </div>
            </div>

            <div class="links-container">
                <div class="left-side-link-container">
                    <a href="[[ROUTE:scrum-framework-three-]]" class="post-content-link">< Eventos de Scrum. Sprint</a>
                </div
                ><!--<div class="right-side-link-container">
                    <a href="[[RO__UTE:scrum-framework-five-]]" class="post-content-link">Eventos de Scrum. Scrum diario o Stand Up Meeting ></a>
                </div>-->
            </div>
            <br>

        </div>
    </div>
{% endblock %}