{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <div class="title">Blog Bootstrap</div>
        <div class="published-on">15 de marzo de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150315_blog-bootstrap/blog-bootstrap.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Architecture</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">
            {#<img align="left" style="margin: 15px" src="uploads/posts/150315_blog-bootstrap/Pentium_MMX_Logo.jpg">#}
            <p><span style="font-size: 60px">A</span> veces el camino desde la puerta de la universidad a un puesto de Arquitecto Agile puede ser una larga peregrinación, otras veces, simplemente, un paso demasiado corto. En general la segunda vía es más fácil pero no suele ser cierta.</p>
            <p>Arquitecto puede ser tanto aquel que, de facto, hace las labores del puesto, aquel al que le ha tocado o le ha sido impuesto o aquel que, con su experiencia, se ha ganado el respeto de sus compañeros y la admiración de sus superiores. Nosotros vamos a tratar de imitar al último tipo, no porque sea más digno o se lo merezca más, sino porque es aquel al que queremos parecernos y del que esperamos aprender cuanto podamos.</p>
            <p>Un Arquitecto Agile debe ser una persona capaz de, dadas unas especificaciones y un presupuesto, tener claro desde el primer instante qué es lo que hay que hacer y cómo llevarlo a cabo.<br>
            Un arquitecto no sabe lo que va a pasar en el futuro pero tiene los conocimientos, la experiencia y la audacia necesarias para anticiparse a lo que ha de suceder y lograr conducir el proyecto por un camino suficientemente equilibrado como para terminar en plazo y en precio.</p>
            <ul>
                <li><p>Lo primero que hará un arquitecto es, no sólo asegurarse de haber comprendido la funcionalidad y el alcance completo del proyecto, sino el objetivo final del mismo y las motivaciones que han llevado a desear su desarrollo.</p></li>
                <li><p>Acto seguido buscará y seleccionará al equipo necesario para llevarlo a cabo y se encargará de mantener a dicho equipo altamente motivado y organizado, contando con las herramientas adecuadas para maximizar su potencial y productividad a la vez que transmite al mismo los objetivos y motivaciones del proyecto como si fuera suyo.</p></li>
                <li><p>Planificará cada aspecto del proyecto buscando eliminar la mayor cantidad posible de incertidumbre en las etapas iniciales del mismo, es decir, tratará de probar o experimentar con las partes más complejas o delicadas del mismo cuanto antes para evitar sorpresas de última hora o replantearlas en caso de que su desarrollo fuera inviable dadas las circunstancias del proyecto.</p></li>
                <li><p>Desde el inicio del desarrollo garantizará la calidad de los productos llevados a cabo y se asegurará de que cuenten con un diseño que favorezca su escalabilidad y mantenibilidad. Además velará para que dichos productos se mantengan libres de errores.</p></li>
                <li><p>Por último, el factor diferencial que convertirá en Agile al arquitecto será la búsqueda del mayor índice posible de Retorno de Inversión tan pronto como sea posible o tenga sentido dentro del proyecto, generando entregables operativos de funcionalidad acotada a intervalos regulares de tiempo y analizando y reconduciendo el rumbo del proyecto para adaptarse a los cambios de definición y alcance que el cliente pueda necesitar, consiguiendo con ello minimizar el coste de los mismos.</p></li>
            </ul>
            <p>Llegar a convertirse en arquitecto no suele ser una tarea ni rápida ni sencilla. Para ello se necesitará una buena dosis de los siguientes ingredientes:</p>
            <ul>
                <li><p>Observación e imitación de todo aquel que pueda enseñarnos algo.</p></li>
                <li><p>Esfuerzo, perseverancia y responsabilidad para llevar siempre el compromiso entre productividad y eficiencia al nivel de máximo equilibrio.</p></li>
                <li><p>Estudio, pues un buen arquitecto es como un médico, debe ser capaz de reciclarse más rápido de lo que lo hace su propia ciencia, en este caso, la tecnología.</p></li>
                <li><p>Audacia y atrevimiento para innovar y experimentar, pues llevar las cosas a la práctica es la única manera real de afianzar los conocimientos adquiridos y deshechar aquellos que, por su eficacia o complejidad, no sean adecuados en términos prácticos.</p></li>
            </ul>
            <p>Una de las labores fundamentales del arquitecto, si además se diera el caso probable de que éste ejerza el rol de Scrum Master dentro del equipo, será la de eliminar cualquier tipo de impedimento o distracción que dificulte o impida el trabajo óptimo de cada uno de los miembros del mismo.</p><br>
        </div>
    </div>
{% endblock %}