{% extends 'PineipolBaaBundle:Layout:default.html.twig' %}

{% block body %}
    <div id="post-list_outer_container">
        <div id="post-list_inner_container">
            <div id="post-list_left-column_container">
                A<br>
                A<br>
                A<br>
                A<br>
                A<br>
                A<br>
            </div
            ><div id="post-list_right-column_container">
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
                B<br>
            </div>
        </div>
    </div>
{% endblock %}