<div id="links-title-box">Enlaces relevantes</div>
<div id="links-container">
    <a class="link" href="https://www.scrum.org/">Scrum.org</a>
    <a class="link" href="http://www.symfony.com/">Symfony.com</a>
</div>