{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <div class="title">Scrum. El framework de los roles, eventos y artefactos</div>
        <div class="published-on">18 de junio de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150618_scrum_framework/scrum_framework.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Scrum</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">
            {#<img align="left" style="margin: 15px" src="uploads/posts/150315_blog-bootstrap/Pentium_MMX_Logo.jpg">#}
            <a class="post-content-link" href=""></a>
            <p><span style="font-size: 60px">A</span>ntes de empezar a pensar en el código del primer proyecto comentado en el post <a class="post-content-link" href="">Loading...</a> resulta imprescindible una introducción a <a class="post-content-link" href="">Scrum</a>, dado que basaremos nuestra forma de trabajo en dicha metodología Agile.</p>
            <p>Scrum es, sin duda, la más popular de entre las ramas del mundo Agile orientadas al desarrollo de software. El motivo es sencillo, Scrum es, como sus propios creadores apuntan, un framework, ni una filosofía, ni una disciplina, ni una metodología ni nada por el estilo, simplemente, un framework.</p>

            <div class="blue_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    Scrum es un framework formado por un conjunto de roles, eventos y artefactos concebidos y diseñados para facilitar la implantación de los valores Agile en un entorno de trabajo o en el seno de una entera organización, es por eso que es también uno de los colores Agile más sencillo de implementar, pues sólo hay que seguir una serie de normas precisa y minuciosamente descritas.
                </div>
            </div>

            <p>Como ya señalado en el post <a class="post-content-link" href="">Agile, Lean, Scrum, Kanban… ¿cuál es la diferencia?</a> es fácil pensar que Scrum sea una especialización dentro del mundo Agile, pero no es así, pues Scrum es unos diez años anterior al <a class="post-content-link" href="">Agile Manifesto</a>, aunque influyó en buena manera en la redacción de éste último, pues sus dos creadores formaban parte de los 17 firmantes.</p>
            <p>Se trata de un framework pensado para gestionar de forma eficiente tanto el desarrollo como el mantenimiento de productos complejos en entornos complejos, y entre sus mayores virtudes se encuentran la gestión del cambio y el control del riesgo.</p>
            <p>La gestión del cambio y el control del riesgo se consigue planificando el desarrollo de los proyectos en iteraciones de corta duración llamadas Sprints, tras cada una de las cuales se inspecciona el trabajo completado directamente con el cliente y se decide si dicho incremento avanza en la dirección correcta o no, pues como reza un antiguo proverbio chino, si continuas avanzando en la misma dirección llegarás exactamente al lugar al que te diriges.</p>
            <p><span style="font-weight:bold">Principios de Scrum</span></p>
            <p>Scrum está basado en el <a class="post-content-link" href="">empirismo</a>, es decir, observación y medida de experiencias pasadas en vez de predicciones sin una base tangible. Esta condición hace que, para que sea posible hacer Scrum, se requiera un tiempo haciendo Scrum, es decir, se necesita un cierto rodaje para poder calcular la capacidad de producción, o velocidad de desarrollo en términos de Scrum, de los equipos de desarrollo implicados en base a resultados anteriores. Esto no significa que un equipo sin experiencia no pueda empezar a hacer Scrum, simplemente quiere decir que las predicciones que realicen para sus iteraciones o Sprints serán significativamente más acertadas a medida que los Sprints se vayan sucediendo y se vaya ganando experiencia.</p>
            <p>Los valores fundamentales de Scrum son:</p>
            <ul>
                <li>
                    <p><span style="font-weight:bold">Transparencia.</span> Todos los aspectos de un proceso deben ser transparentes a todos sus responsables, es decir, no podemos excluir a los desarrolladores de la parte de diseño ni al consultor de producto de los problemas del desarrollo.<br>
                        Los primeros pueden tener mucho que decir en cuanto a cómo un diseño demasiado complejo puede encarecer el proyecto, quizás a cambio de un retorno artístico ínfimo y el segundo podría tratar de proponer al cliente alternativas a una funcionalidad si ésta resultara tan costosa en tiempo y problemática respecto a su desarrollo que pudiera hacer peligrar la calidad del producto innecesariamente.<br>
                        Una de las consecuencias inmediatas de la transparencia consiste en el sentimiento de propiedad colectiva del proyecto y cooperación interdepartamental, queriendo decir esto que todos los implicados cooperan activamente pues el resultado afecta e interesa a todos por igual.</p>
                </li>
                <li>
                    <p><span style="font-weight:bold">Inspección.</span> En un proyecto Scrum la inspección debe ser una constante, es decir, se debe cuestionar cada paso una vez completado y en equipo y discutir y decidir si resulta efectivo o no. En Scrum cualquier momento es bueno para la inspección aunque cuenta con eventos específicos dedicados a tal fin.</p>
                </li>
                <li>
                    <p><span style="font-weight:bold">Adaptación.</span> Si tras la inspección se decide que alguno de los procedimientos o tareas que se ha llevado a cabo nos alejan de la consecución del objetivo del proyecto dicha práctica debe ser modificada o sustituida por otra cuyo efecto sea el deseado.<br>
                        En general, la adaptación se decide al final de cada Sprint aunque debe tener lugar lo antes posible una vez que el inconveniente o problema ha sido detectado es por ello que los Daily Scrum, reunión diaria de planificación e inspección en Scrum, son también momentos de inspección y adaptación.</p>
                </li>
            </ul>
            <p>Aunque no sea oficial, me gustaría añadir otro elemento que, en mi opinión, resulta ser inherente a Scrum y fundamental para su buena marcha, el equipo. Scrum es cosa de equipos y la primera gran ventaja que Scrum nos aportará de forma sorprendente, y casi inmediata, es que Scrum genera equipo.</p>
            <p>Es difícil gestionar un proyecto Scrum con un equipo de una única persona. Para un freelance podría ser una gran ventaja, de cara al cliente, abordar el proyecto de forma iterativa pues se aumenta la frecuencia de feedback, se mantiene el riesgo bajo control volviendo a priorizar y planificar las tareas pero se pierde el elemento de control de los compañeros de equipo, es decir, si empezamos haciendo algo técnico de una determinada manera porque creemos que es lo correcto, difícilmente alguien nos hará ver si estamos equivocados o si existe otra forma mejor de hacerlo y, por tanto, carecen de sentido los eventos de inspección y adaptación que definiremos enseguida por lo cual, y por definición de sus creadores, si no usas todos los elementos de Scrum estarás haciendo algo parecido, pero no será Scrum. De hecho ellos recomiendan no configurar equipos de Scrum de menos de tres miembros dentro del Equipo de Desarrollo.</p>
            <p><span style="font-weight:bold">Componentes de Scrum</span></p>
            <p>Scrum está formado por tres tipos de elementos que analizaremos en detalle en las secciones siguientes, roles, eventos y artefactos. Además Scrum define una serie de normas que los coordinan entre sí.</p>
            <p>Como ya mencionado, según sus creadores, cada uno de estos elementos es parte fundamental del framework y si se decide prescindir de alguno de ellos no se estará realmente haciendo Scrum, algo parecido sí, pero no Scrum.</p>
            <p>Este tipo de situaciones se conoce como <a class="post-content-link" href="">ScrumButs</a>, es decir, se modifican las reglas de Scrum para tratar de sortear un problema.</p>
            <p>Suelen responder a la sintaxis:</p>
            <p style="text-align:center"><span style="font-weight:bold">(ScrumBut)(Razón)(Solución adoptada)</span></p>
            <p>Por ejemplo, (Usamos Scrum, pero)(tener un Daily Scrum cada día supone mucha carga de horas)(por eso lo hacemos sólo una vez a la semana).</p>
            <p>En cualquier caso, lo que estemos haciendo no podrá ser llamado Scrum.</p>
            <p><span style="font-weight:bold">Key Points</span></p>
            <p>Scrum es un framework<br>
            Scrum está compuesto por roles, eventos y artefactos<br>
            Scrum sigue los valores y principios Agile<br>
            Agile ayuda a gestionar el cambio y controlar el riesgo<br>
            Scrum se basa en el empirismo<br>
            Los principios de Scrum son transparencia, inspección y adaptación<br>
            Scrum genera equipo</p>
            <br><br>
        </div>
    </div>
{% endblock %}