{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="page-container">
        <div class="title">{{ pageContent.title|raw }}</div>
        <div class="content">{{ pageContent.content|raw }}</div>
    </div>
{% endblock %}