{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <h1>Sprint Retrospective</h1>
        <div class="published-on">27 de julio de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150727_sprint_review/sprint_review.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Architecture</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">

            <p>
                <span style="font-size: 60px">E</span>Es <span style="font-weight:bold">el momento clave para inspeccionar y adaptar</span> en Scrum.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    En esta reunión, cuya duración máxima <span style="font-weight:bold">time-boxed</span> es de tres horas para Sprints de un mes de duración, el <span style="font-weight:bold">Equipo de Scrum al completo se inspecciona a sí mismo</span>.
                </div>
            </div>
            <p>
                Es la <span style="font-weight:bold">última reunión de cada Sprint</span> e inmediatamente después da comienzo el siguiente Sprint. En ella el Scrum Master participa como un igual pues uno de los aspectos que se valoran es el propio proceso de Scrum.
            </p>
            <p>
                El <span style="font-weight:bold">propósito de la reunión</span> es:
            </p>
            <ul>
                <li>
                    <p><span style="font-weight:bold">Inspeccionar cómo fue el Sprint que termina</span> en términos de personas, relaciones, procesos y herramientas.</p>
                </li>
                <li>
                    <p><span style="font-weight:bold">Identificar</span> y ordenar en función de su repercusión los principales <span style="font-weight:bold">elementos que fueron bien y los principales impedimentos</span> que se debería tratar de mejorar.</p>
                </li>
                <li>
                    <p>Generar un <span style="font-weight:bold">plan para implantar</span>, a lo largo de los siguientes Sprints, <span style="font-weight:bold">las mejoras acordadas</span>.</p>
                </li>
            </ul>
            <p>
                Una de las <span style="font-weight:bold">técnicas habituales</span> para conseguir que una retrospectiva sea productiva consiste en <span style="font-weight:bold">preguntar a cada miembro del equipo</span>, por turnos, con <span style="font-weight:bold">qué aspectos del Sprint se ha sentido mejor y con cuáles peor</span> o de cuáles cree que debería haber más y de cuáles menos. Pese a tratarse, en esencia, de la misma pregunta es importante formularla de múltiples formas, “qué cosas te han gustado, cuáles no, de cuáles harías más, de cuáles menos, cuáles crees que deberíamos dejar de hacer, qué cosas crees que deberíamos empezar a hacer…” Con ello lo que se persigue es que cada persona encuentre algo que decir pues podría considerar que algo que no le gusta en absoluto es necesario por lo que no se atrevería a decir que sea algo malo pero sí que sería recomendable que no pasara tan a menudo. Realmente podríamos estar ante un grave problema que debería ser atajado cuanto antes sin que el desarrollador realmente fuera consciente.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    Uno de los <span style="font-weight:bold">mayores potenciales de las retrospectiva</span> es su capacidad para <span style="font-weight:bold">generar debate</span> pues es en este momento donde las personas se desinhiben y afloran las causas reales de los problemas.
                </div>
            </div>
            <p>
                Por ello <span style="font-weight:bold">es importante que el Scrum Master realice muchas preguntas</span> y trate de sonsacar al equipo, preguntas del tipo “¿y por qué crees que esto ha sido negativo? ¿cómo crees que podríamos evitarlo? ¿qué harías para que no se repitiera? ¿crees que existe una solución mejor? ¿se podría hacer de otra manera pero que aún así se conservara su efecto positivo?”
            </p>
            <p>
                Como ya mencionado, <span style="font-weight:bold">al final de la retrospectiva se deberá generar un plan de acción</span> para corregir los defectos detectados durante el Sprint, de lo contrario la retrospectiva sería un tanto inútil y se seguirían comentando los mismos problemas una y otra vez retrospectiva tras retrospectiva. El Scrum Master debe favorecer la aplicación del plan.
            </p>
            <div class="key_points_text_box">
                <div class="title_box">
                    <div class="generic_icon_container"></div>
                    <div class="generic_title_container">Key Points</div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Es el momento clave para <span style="font-weight:bold">inspeccionar y adaptar</span> en Scrum.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Es una reunión <span style="font-weight:bold">time-boxed</span> con una duración máxima de tres horas.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            En ella el <span style="font-weight:bold">Equipo de Scrum se inspecciona a sí mismo</span>.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            El Scrum Master pregunta al equipo y trata de <span style="font-weight:bold">generar diálogo</span> y controlar los debates.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Se <span style="font-weight:bold">genera un plan</span> para mejorar el proceso de trabajo.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            El Scrum Master debe favorecer la <span style="font-weight:bold">aplicación del plan</span>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="links-container">
                <div class="left-side-link-container">
                    <a href="[[ROUTE:scrum-framework-six-]]" class="post-content-link">< Eventos de Scrum. Revisión de Sprint</a>
                </div
                ><div class="right-side-link-container">
                    <a href="[[ROUTE:scrum-framework-eight-]]" class="post-content-link">Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog ></a>
                </div>
            </div>
            <br>

        </div>
    </div>
{% endblock %}