{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <h1>Artefactos de Scrum. Product Backlog</h1>
        <div class="published-on">27 de julio de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/150823_product_backlog/product_backlog.gif') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Architecture</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">

            <p>
                <span style="font-size: 60px">E</span>l <span style="font-weight:bold">Product Backlog es un listado priorizado de todo aquello que podría ser necesario</span> realizar para completar el proyecto. La palabra podría refleja la verdadera esencia del Product Backlog, pues <span style="font-weight:bold">es un elemento vivo y en constante evolución</span> y lo que hoy puede constituir el elemento más importante a desarrollar para el proyecto podría ser eliminado mañana si resultara necesario.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    El Product Backlog es un listado priorizado de todo lo que podría ser necesario a lo largo del proyecto que se mantiene vivo y en constante evolución.
                </div>
            </div>
            <p>
                <span style="font-weight:bold">Su propietario y único responsable es el Product Owner</span>. A él corresponde su generación y es habitual que elaborare una primera versión durante lo que se conoce como Sprint 0 (Sprint Cero), el primer Sprint del proyecto y cuyo objetivo consiste en disponer todo aquello que sea necesario para que el equipo de desarrollo pueda iniciar su trabajo.
            </p>
            <p>
                El Sprint 0 no es un sprint ordinario por lo que no cuenta con el resto de eventos habituales de un Sprint y carece también de una duración determinada. Podríamos decir que el Sprint 0 es todo el período de tiempo que transcurre desde la idea inicial del proyecto hasta que éste es definido por completo, son cerrados el contrato y el resto de condiciones con el cliente y se acaban de concretar todos los preparativos para que el equipo de desarrollo esté listo para llevar a cabo su primer Sprint.
            </p>
            <p>
                <span style="font-weight:bold">Es muy importante que sea el primer elemento del proyecto en ser generado</span>, antes de definir la tecnología que se empleará para el desarrollo del mismo, la arquitectura a emplear o, incluso, la contratación del equipo si fuera necesario contratar. La propia contratación de un arquitecto podría ser uno de los primeros ítems del Backlog, el cual llevaría a cabo la tarea de decidir la arquitectura, que sería un elemento del Backlog de menor prioridad que el de la contratación.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    La pronta definición del <span style="font-weight:bold">Product Backlog será la pieza clave que permita generar un pronóstico de la planificación de todo el proyecto de forma empírica</span>, es decir, basado en medidas reales en lugar de especulaciones.
                </div>
            </div>
            <p>
                El Product Backlog <span style="font-weight:bold">se mantendrá vivo mientras exista el proyecto</span>, ya sea para definir sus nuevas funcionalidades a desarrollar o los evolutivos y correcciones durante la fase de mantenimiento. <span style="font-weight:bold">El Product Backlog nunca estará completo</span> y su primera versión tan sólo pondrá de manifiesto los requisitos inicialmente conocidos y mejor entendidos.
            </p>
            <p>
                El Product Backlog <span style="font-weight:bold">debe ser la única fuente de requisitos del proyecto</span> y debe recoger las referencias a cualquier otro tipo de herramientas que se utilicen para definir las tareas como, por ejemplo, enlaces o referencias a herramientas de diseño y modelado con las que se hayan desarrollado los diseños o wireframes necesarios para que el Equipo de Desarrollo sepa cómo realizar sus tareas.
            </p>
            <p>
                Como ya explicado en la sección de <a href="[[ROUTE:scrum-framework-eight-]]" class="post-content-link">las reuniones de grooming</a>, el Product Backlog es dinámico, es decir, <span style="font-weight:bold">permanece en constante evolución a lo largo de todo el proyecto</span> para poner de manifiesto aquellas necesidades que lo sitúen como atractivo y superior frente a productos de la competencia.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    Sus <span style="font-weight:bold">elementos cuentan con atributos de descripción, prioridad, estimación y valor</span> y distintos equipos de Scrum que trabajen en el mismo proyecto podrían y, de hecho deberían, compartir el mismo Product Backlog e, incluso, el mismo Product Owner.
                </div>
            </div>
            <p>
                Los <span style="font-weight:bold">elementos del Product Backlog de mayor prioridad suelen ser más claros y estar definidos a un mayor nivel de detalle</span>, es decir, suelen ser elementos con un menor grado de incertidumbre o representar incertidumbres acotadas. Por ejemplo, un elemento de alta prioridad del Backlog podría consistir en aprender a empaquetar una aplicación Web para Android mediante el framework Apache Cordova, mientras que uno de baja podría ser, simplemente, que el proyecto cuente con aplicaciones mobile.
            </p>
            <div class="key_points_text_box">
                <div class="title_box">
                    <div class="generic_icon_container"></div>
                    <div class="generic_title_container">Key Points</div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Es un listado priorizado de todo lo que podría ser necesario completar durante el proyecto.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Permanece en constante evolución a lo largo de todo el proyecto.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            El Product Owner es su propietario y único responsable.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Su primera versión se elabora durante el Sprint Cero.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Debe ser el primer elemento del proyecto en ser generado.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Tan pronto como sea definido se podrá generar un pronóstico de la planificación de todo el proyecto de forma empírica.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Es la única fuente de requisitos del proyecto.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Sus elementos cuentan con atributos de descripción, prioridad, estimación y valor.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Distintos equipos Scrum que trabajen en el mismo proyecto deberían compartir el mismo Product Backlog y el mismo Product Owner.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Sus elementos de mayor prioridad suelen ser más claros y estar definidos a un mayor nivel de detalle.
                        </div>
                    </div>
                </div>
            </div>

            <div class="links-container">
                <div class="left-side-link-container">
                    <a href="[[ROUTE:scrum-framework-eight-]]" class="post-content-link">< Eventos de Scrum. Reuniones de Grooming o refinamiento del Backlog</a>
                </div
                ><!--<div class="right-side-link-container">
                    <a href="[[ROU__TE:scrum-framework-nine-]]" class="post-content-link">Artefactos de Scrum. Product Backlog ></a>
                </div>-->
            </div>
            <br>

        </div>
    </div>
{% endblock %}