{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <h1>Artefactos de Scrum. Sprint Taskboard</h1>
        <div class="published-on">20 de septiembre de 2015</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset('uploads/posts/151007_sprint_taskboard/sprint_dashboard.jpg') }}">
            <div class="tags-container">
                <a href="">
                    <div class="one-tag-container">
                        <div class="yellow-tag">Agile</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="one-tag-container">
                        <div class="pink-tag">Architecture</div>
                        <div class="tag-triangle"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">
            <p>
                <span style="font-size: 60px">C</span>uando se habla de Scrum una de las primeras imágenes que se nos suele pasar por la cabeza es un <span style="font-weight:bold">tablero con columnas, algunos gráficos y una buena cantidad de Post-Its</span>. Se trata del <span style="font-weight:bold">Sprint Taskboard</span>.
            </p>

            <div style="text-align:center;width:100%">
                <a href="/uploads/posts/151007_sprint_taskboard/sprint_dashboard_big.jpg" target="_blank">
                    <img align="center" style="margin:auto" src="/uploads/posts/151004_sprint_taskboard/sprint_dashboard.jpg">
                </a>
            </div>

            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    Los tableros de Scrum <span style="font-weight:bold">no son una herramienta oficial del framework sino que provienen del visual management</span> y la metodología Kanban.
                </div>
            </div>
            <p>
                Se suelen dividir en varias <span style="font-weight:bold">columnas que representan los estados por los que puede pasar una tarea</span> y en un gráfico <span style="font-weight:bold">Sprint Burndown que refleja, día a día, el trabajo restante</span>.
            </p>
            <p>
                La parte de las columnas suele representar <span style="font-weight:bold">tres estados fundamentales</span> de las tareas, <span style="font-weight:bold">pendientes, en progreso y finalizadas</span>. En la imagen superior he querido reflejar el panel con el que suelo trabajar el cual incluye varias columnas adicionales. Analicemos el flujo de vida de una tarea.
            </p>
            <ul>
                <li>
                    <p>
                        <span style="font-weight:bold">New Request</span>. Esta columna representa una especie de recámara de tareas, es decir, <span style="font-weight:bold">tareas todavía no activadas para ser llevadas a cabo</span> durante el Sprint. Tiene dos utilidades.
                    <ul>
                        <li>
                            <p>
                                <span style="font-weight:bold">Puede constituir el Product Backlog del proyecto</span> con todo aquello que el proyecto necesita pero que todavía no ha sido seleccionado para desarrollarse en la iteración actual.
                            </p>
                        </li>
                        <li>
                            <p>
                                Puede almacenar una <span style="font-weight:bold">bolsa de tareas siguientes</span> de modo que, si el equipo terminara todas las tareas del Sprint antes de tiempo podría empezar a trabajar en tareas activables durante el siguiente Sprint.
                            </p>
                        </li>
                    </ul>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">To Do</span>. Contiene las <span style="font-weight:bold">tareas elegidas para ser desarrolladas por el equipo durante la iteración en curso</span>. Cada miembro del Equipo de Desarrollo se irá asignado tareas de esta columna en <span style="font-weight:bold">orden descendente de prioridad</span>, las moverá a la columna <span style="font-weight:bold">In progress</span> y empezará a trabajar en ellas.
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">Action Required</span>. Si al elegir una tarea o mientras se trabaja en ella el desarrollador que la está llevando a cabo encuentra alguna <span style="font-weight:bold">dificultad que no puede ser resuelta por ninguna persona del Equipo Scrum</span> como, por ejemplo, que necesite algún recurso de diseño que todavía no esté disponible, moverá la tarea a esta columna y el <span style="font-weight:bold">Scrum Master se encargará de desbloquear el impedimento</span> que paraliza la tarea.
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">QA Rejected</span>. Las tareas de la columna <span style="font-weight:bold">On Testing</span> pueden llegar a esta columna si <span style="font-weight:bold">no superan la definición de completado o no cumplen con alguno de sus criterios de aceptación</span>. El hecho de que la posición de esta columna sea anterior a In progress y On testing es que representa un paso atrás en el flujo de la tarea, pues debe ser reabierta y corregida antes de poder volver a ser evaluada.
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">In Progress</span>. Las tareas que cada miembro del Equipo <span style="font-weight:bold">está llevando a cabo</span> en un determinado momento ocupan esta posición. <span style="font-weight:bold">Cada desarrollador debería tener, en todo momento, una única tarea en esta columna</span> pues el trabajo en paralelo suele dificultar la concentración y penalizar al resultado de las tareas. Si en algún momento un desarrollador se viera en la situación de no poder avanzar con una tarea debería llevar ésta a la columna Action Required e iniciar otra.
                        En este punto es adecuado señalar que cuando la tarea en Action Required viera cumplida su dependencia el desarrollador no debería parar su tarea actual para retomar la tarea en Action Required sino finalizar la tarea actual y, sólo después, retomar la tarea detenida (las tareas deben iniciarse y completarse sin interrupciones ni ser intercaladas con otras).
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">On Testing</span>. Una vez que el <span style="font-weight:bold">desarrollador ha completado una tarea, la ha probado y ha verificado que cumple los criterios de aceptación</span> especificados para la tarea la mueve a la columna On testing para que el <span style="font-weight:bold">equipo de Quality Assurance la compruebe en un entorno de integración y testing</span> y decida si la tarea está correctamente completada, es decir, cumple todos sus criterios de aceptación y la definición de completado definida para el Sprint.
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">Completed</span>. Si las tareas examinadas por QA en el paso anterior están <span style="font-weight:bold">correctamente completadas</span> el equipo de QA las pasa a esta columna, en caso contrario las pasa a QA rejected.
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-weight:bold">Rejected</span>. Las tareas que, a lo largo del Sprint, <span style="font-weight:bold">se decide no llevar a cabo</span>, por el motivo que sea, pasan a esta columna para que exista constancia que en algún momento se pretendió desarrollarlas. Los motivos por los que pueden llegar a este punto pueden ser de distinta naturaleza, desde que se descubra que la tarea ya no tiene sentido para el producto, que el Product Owner decida no desarrollarla, que ya hubieran sido completadas como parte de otra tarea en otro Sprint, etc.
                    </p>
                </li>
            </ul>
            <p>
                Además de las columnas por las que puede pasar una tarea tenemos, en la parte derecha, un gráfico y, bajo éste, dos pequeñas columnas.
            </p>
            <div class="green_text_box">
                <div class="generic_icon"></div
                ><div class="generic_text_container">
                    <span style="font-weight:bold">El gráfico representa el ya mencionado <a href="[[ROUTE:scrum-framework-thirteen-]]" class="post-content-link">Sprint Burndown Chart</a></span>, es decir, el gráfico del trabajo restante. Como puede verse en la imagen, en vertical representamos los puntos de historia restantes y en horizontal los días transcurridos.
                </div>
            </div>
            <p>
                El primer día la barra de puntos de historia está completa, contiene todas las tareas o historias de usuario del Sprint. A medida que vamos completando tareas y van pasando los días las barras descienden pero vemos que, en el sexto día la barra ha crecido respecto al día anterior, ¿por qué? Podría deberse a que el quinto día se haya detectado que una de las historias de usuario era realmente más compleja de lo que parecía y que haya sido necesario añadir trabajo al Sprint, quizás no como puntos de historia pero sí como horas de dedicación. También podría haberse dado el caso de que el cliente hubiera manifestado algún tipo de imprevisto que el Equipo de Desarrollo, con la supervisión del Product Owner, hubiera decidido comprometerse a incluir dicha funcionalidad en el Sprint sin descartar ninguna otra.
            </p>
            <p>
                Por último, en las <span style="font-weight:bold">dos pequeñas columnas bajo el gráfico</span> se suele aprovechar para muy distintos fines. En algunos equipos se usa para tener una bolsa de tareas siguientes, a mi no me gusta porque para eso utilizo la columna New request. Otras veces se reflejan en estas columnas las <span style="font-weight:bold">tareas no planificadas</span>, es decir, imprevistos que no estaban inicialmente contemplados en el Sprint. Yo prefiero marcar las tareas no planificadas en otro color o similar para poder identificar en qué punto de su ciclo de vida se encuentran.
            </p>
            <p>
                En mi caso suelo utilizar una de ellas para contabilizar los <span style="font-weight:bold">impedimentos</span> que van surgiendo y que no se olvide ninguno de cara a la <a href="[[ROUTE:scrum-framework-seven-]]" class="post-content-link">Retrospectiva de Sprint</a> y para que el equipo pueda ver en todo momento el <span style="font-weight:bold">objetivo de Sprint</span> decidido.
            </p>
            <div class="key_points_text_box">
                <div class="title_box">
                    <div class="generic_icon_container"></div>
                    <div class="generic_title_container">Key Points</div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Pese a no ser un artefacto oficial de Scrum se suele utilizar un tablero con columnas que representan los <span style="font-weight:bold">estados por los que puede pasar una tarea y un gráfico que muestra el trabajo restante</span>.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Los <span style="font-weight:bold">estados fundamentales</span> en que puede estar una tarea son <span style="font-weight:bold">Pendiente, En progreso y Finalizada</span>.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            Otros estados pueden ser utilizados para matizar situaciones de tarea más concretas como por ejemplo, New Request, To Do, Action Required, QA Rejected, In progress, On Testing, Completed y Rejected.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            El gráfico Sprint Burndown Chart representa el trabajo restante.
                        </div>
                    </div>
                </div>
                <div class="content_container">
                    <div class="row_container">
                        <div class="bullet"></div>
                        <div class="text">
                            En las dos columnas bajo el gráfico se puede tener una bolsa de <span style="font-weight:bold">tareas siguientes</span>, reflejar las <span style="font-weight:bold">tareas no planificadas</span>, contabilizar los <span style="font-weight:bold">impedimentos</span> que van surgiendo de cara a la Retrospectiva de Sprint o recordar el <span style="font-weight:bold">Objetivo del Sprint</span>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="links-container">
                <div class="left-side-link-container">
                    <a href="[[ROUTE:scrum-framework-twelve-]]" class="post-content-link">< Artefactos de Scrum. Sprint Backlog</a>
                </div
                ><!--<div class="right-side-link-container">
                    <a href="[[ROU__TE:scrum-framework-fouteen-]]" class="post-content-link">Artefactos de Scrum. Sprint Taskboard ></a>
                </div>-->
            </div>
            <br>

        </div>
    </div>
{% endblock %}