
/* Paths */
@font-path : "../fonts/";
@image-path : "../images/";

/* Color variables */
@black: #000000;
@dark-gray: #222222;
@light-gray: #AAAAAA;
@background-gray: #666666;
@white: #FFFFFF;
@leds-green: #B4E767;
@tag-green: #00CC00;
@tag-pink: #FF00FF;
@tag-yellow: #FFFF00;
@blue-text-box-background: #C6E1FF;

/* Sizing constants */
@outer-container-width : 100%;
@mobile-inner-container-width : 100%;

@laptop-width : 1000px;
@landscape-tablet-width : 800px;
@vertical-tablet-width : 600px;

@wide-screen-min-height : 910px;
@landscape-tablet-min-height : 700px;
@vertical-tablet-min-height : 500px;

body {
    margin: 0;
    font: 14px Verdana;
}
div {
    box-sizing: border-box;
}
a {
    &:active {
        color: @black;
        text-decoration: none;
    }
    &:hover {
        color: @black;
        text-decoration: none;
    }
    &:link {
        color: @black;
        text-decoration: none;
    }
    &:visited {
        color: @black;
        text-decoration: none;
    }
}

/* Components */
.generic_text_box() {
    display: table;
    margin: 15px 0 15px 0;
    .generic_icon {
        background-position: center 20px;
        background-repeat: no-repeat;
        display: table-cell;
        height: 46px;
        vertical-align: top;
        width: 75px;
    }
    .generic_text_container {
        display: table-cell;
        font: 1em Verdana;
        line-height: 2em;
        padding: 10px 20px 10px 0px;
        vertical-align: top;
    }
}
.blue_text_box {
    .generic_text_box();
    background-color: @blue-text-box-background;
    .generic_icon {
        background-image: url('@{image-path}icons/important.png');
    }
}