
/* Paths */
@font-path : "../fonts/";
@image-path : "../images/";

/* Color variables */
@black: #000000;
@dark-gray: #222222;
@light-gray: #AAAAAA;
@white: #FFFFFF;
@leds-green: #B4E767;

/* Sizing constants */
@outer-container-width : 100%;
@mobile-inner-container-width : 100%;

@laptop-width : 1000px;
@landscape-tablet-width : 800px;
@vertical-tablet-width : 600px;

@wide-screen-min-height : 910px;
@landscape-tablet-min-height : 700px;
@vertical-tablet-min-height : 500px;

body {
    margin: 0;
    font: 14px Verdana;
}
div {
    box-sizing: border-box;
}
a {
    &:active {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}