.post-container {
    display: table;
    margin-bottom: 60px;
    @media (max-width: @landscape-tablet-width) {
        display: block;
        margin-bottom: 20px;
    }
    .left-column {
        display: table-cell;
        vertical-align: top;
        width: 65%;
        @media (max-width: @landscape-tablet-width) {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        .mobile-title {
            display: none;
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 5px;
            margin-top: 30px;
            padding-left: 5px;
            text-align: left;
            @media (max-width: @landscape-tablet-width) {
                display: block;
            }
        }
        .mobile-published-on {
            color: @light-gray;
            display: none;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 15px;
            margin-top: 0px;
            padding-left: 5px;
            text-align: left;
            @media (max-width: @landscape-tablet-width) {
                display: block;
            }
        }
        .image-container {
            margin: auto;
            position: relative;
            width: 90%;
            @media (max-width: @landscape-tablet-width) {
            }
            .post-image {
                height: auto;
                width: 100%;
            }
            .tags-container {
                left: -15px;
                position: absolute;
                top: 15px;
                width: 90px;
                .one-tag-container {
                    position: relative;
                    height: 35px;
                    .generic-tag() {
                        border: 1px solid @white;
                        color: @black;
                        font-size: 12px;
                        font-weight: 700;
                        height: 22px;
                        padding-top: 1px;
                        text-align: center;
                    }
                    .tag-triangle {
                        border-bottom: 9px solid @background-gray;
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        height: 0;
                        left: 3px;
                        position: absolute;
                        top: 21px;
                        transform: rotate(45deg);
                        width: 0;
                    }
                    .green-tag {
                        .generic-tag();
                        background-color: @tag-green;
                    }
                    .pink-tag {
                        .generic-tag();
                        background-color: @tag-pink;
                    }
                    .yellow-tag {
                        .generic-tag();
                        background-color: @tag-yellow;
                    }
                }

            }
        }
    }
    .right-column {
        display: table-cell;
        vertical-align: top;
        @media (max-width: @landscape-tablet-width) {
            display: inline-block;
            margin-left: 2%;
            margin-right: 2%;
            width: 96%;
        }
        .title {
            font-size: 17px;
            font-weight: 700;
            @media (max-width: @landscape-tablet-width) {
                display: none;
            }
        }
        .published-on {
            color: @light-gray;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 20px;
            margin-top: 5px;
            @media (max-width: @landscape-tablet-width) {
                display: none;
            }
        }
        .description {
            margin-top: 20px;
            @media (max-width: @landscape-tablet-width) {
                margin-top: 10px;
            }
        }
    }
}