.links-title-box {
    .links-title-box();
    margin-left: 10%;
}
#links-container {
    padding-left: 40px;
    padding-top: 20px;
    .link {
        color: @black;
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
        text-decoration: underline;
    }
    @media (max-width: @landscape-tablet-width) {
        padding-left: 25px;
        padding-right: 10px;
    }
}
#badges-container {
    padding-left: 25px;
    .badge {
        text-align: center;
        .title {
            color: @blue-text-soft;
            font-weight: bold;
            padding-bottom: 10px;
            padding-top: 30px;
            font-size: 12px;
            text-transform: uppercase;
        }
        .image-container {}
    }
    @media (max-width: @landscape-tablet-width) {
        padding-left: 10px;
        padding-right: 10px;
    }
}